@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --hover-color: hsl(236, 33%, 92%);
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Josefin+Sans';
}

header {
  height: 40vh;
}

.dark-header {
  background: url('../images/bg-desktop-dark.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}

.light-header {
  background: url('../images/bg-desktop-light.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}

.head-content {
  color: hsl(236, 33%, 92%);
  margin: 0 30vw;
  padding-top: 5%;
  display: flex;
  justify-content: space-between;
}

.head-content h1 {
  font-size: 2.6rem;
  letter-spacing: 10px;
}

.head-content img {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

main {
  position: relative;
  height: 60vh;
  display: flex;
  flex-direction: column;
}

.dark-main {
  background-color: hsl(235, 21%, 11%); /**/
  transition: all linear 0.25s;
}

.light-main {
  background-color: hsl(236, 33%, 92%); /**/
  transition: all linear 0.25s;
}

.main-body {
  font-size: 1.5rem;
  margin: 0 30vw;
  margin-top: -115px;
}

.main-body .input {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.main-body .input input[type='checkbox'] {
  margin-left: 15px;
  position: absolute;
  cursor: default;
}

.dark-list {
  background-color: hsl(235, 24%, 19%);
  color: hsl(234, 39%, 85%);
}

.light-list {
  background-color: hsl(0, 0%, 98%);
  color: hsl(235, 19%, 35%);
}

.dark-list,
.light-list {
  border-radius: 5px;
}

.main-body .input input[type='text'] {
  padding: 15px 50px;
  width: 100%;
  appearance: none;
  border: none;
}

.main-body .output .item,
.output-controls {
  display: flex;
  align-items: center;
  padding: 15px;
}

.light-border {
  border-bottom: 1px solid hsl(234, 39%, 85%); /**/
}

.dark-border {
  border-bottom: 1px solid hsl(233, 14%, 35%); /**/
}

.main-body .input .check,
.main-body .output .item .check {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  border: 1px solid hsl(233, 14%, 35%);
  border-radius: 50%;
  padding-right: 10px;
  cursor: pointer;
}

.main-body .output .item .check:checked {
  background: url('../images/icon-check.svg'),
    linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-position-x: 0%, 0%;
  background-position-y: 0%, 0%;
  background-repeat: repeat, repeat;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.main-body .output .item span {
  padding-left: 20px;
}

.output-controls {
  color: hsl(233, 14%, 35%);
  justify-content: space-between;
}

.output-controls .sort {
  display: flex;
  gap: 10px;
}

.output-controls .sort p,
.output-controls .clear p {
  cursor: pointer;
}

.output-controls .sort p:hover,
.output-controls .clear p:hover {
  color: var(--hover-color);
}

.drag-dop {
  color: hsl(234, 11%, 52%); /**/
  text-align: center;
  margin-top: 30px;
}

main .attribution {
  font-size: 1.1rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.attribution a {
  color: hsl(228, 45%, 44%); /**/
}

.clicked-active {
  color: hsl(220, 98%, 61%);
}

.line-trough {
  text-decoration: line-through;
  color: hsl(236, 9%, 61%);
}
